@media all and (min-width: 280px) and (max-width: 767px) {
    .bg-contacto {
        width: 100vw;
        height: 120vh;
    }
}

@media all and (max-width: 767px) {
    nav img {
        height: 100px;
        width: 145px;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .bg-contacto {
        width: 100vw;
        height: 65vh;
    }

    nav img {
        height: 100px;
        width: 145px;
    }
}

@media screen and (min-width: 992px) {
    .bg-contacto {
        width: 100vw;
        height: 90vh;
    }

    nav img {
        height: 100px;
        width: 200px;
    }
}

@media all and (min-width: 993px) and (max-width: 1024px) {
    .bg-contacto {
        width: 100vw;
        height: 120vh;
    }
}