body {
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3 {
  font-family: "Actor", sans-serif;
}

i {
  color: black;
}

footer img {
  height: 100px;
  width: 145px;
}

.footerLogo {
  height: 100px;
  width: 145px;
}

.bg-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.3);
}

.bg-404 {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.spaceLogo {
  padding-top: 100px;
  padding-bottom: 60px;
}

.text-404 {
  font-family: "Bungee Shade", cursive;
}

.btn-effect {
  border: 0;
  background-image: linear-gradient(150deg, #2b9dc8, #26afb4, #b0da8c);
  border-radius: 8px;
  display: flex;
  font-size: 14px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-effect a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 24px;
  border-radius: 6px;
  transition: 0.3s;
}

.img-rounded {
  border-radius: 200px;
  height: 150px;
  width: 150px;
}

.background-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textNosotros {
  font-size: 35px;
}

.contact-explain {
  background-color: #E3E3E3;
}

.bg-contacto {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  left: 0;
  z-index: -1;
  filter: brightness(0.4);
}

@media all and (max-width: 767px) {
  nav img {
      height: 100px;
      width: 145px;
  }
}

/* dispositivos md */
@media all and (min-width:768px) and (max-width: 991px) {
  nav img {
      height: 100px;
      width: 145px;
  }
}

/* dispositivos grandes lg */
@media all and (min-width: 992px) {
  nav img {
      height: 100px;
      width: 200px;
  }
}


