@media all and (max-width: 280px) {
  .bg-image {
    width: 100vw;
    height: 165vh;
  }
}

@media all and (min-width: 281px) and (max-width: 767px) {
  .bg-image {
    width: 100vw;
    height: 167vh;
  }

  .imagenLogo {
    height: 100px;
    width: 145px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .bg-image {
    width: 100vw;
    height: 100vh;
  }

  .imagenLogo {
    height: 100px;
    width: 145px;
  }
}

@media screen and (min-width: 992px) {
  .bg-image {
    width: 100vw;
    height: 130vh;
  }

  .imagenLogo {
    height: 100px;
    width: 200px;
  }
}

@media all and (min-width: 993px) and (max-width: 1024px) {
  .bg-image {
    width: 100vw;
    height: 160vh;
  }
}
